<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]

	# Adds AUTH support to Rest Plugin:
	RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization},last]
 </IfModule>
